<template lang='pug'>
.row.my-auto
  .col
    .card-body.text-center
      h3 Last step!
      p Sign up with Facebook, Google+, or your email.
      .row.justify-content-center
        .col
          span(v-on:click='next("facebook")')
            .icon.facebook.mx-auto
        .col
          span(v-on:click='next("google")')
            .icon.google.mx-auto
        .col
          span(v-on:click='next("email")')
            .icon.email.mx-auto
</template>

<script>
export default {
  methods: {
    next(accountType) {
      this.$emit('form-change', { accountType });
      this.$emit('next');
    },
  },
};
</script>

<style lang='scss' scoped>
.card {
  min-height: 60vh;
}

.facebook {
  background: url('../../assets/images/FacebookCircle.png');
}

.google {
  background: url('../../assets/images/GooglePlus.png');
}

.email {
  background: url('../../assets/images/Mail.png');
}
.icon {
  background-repeat: no-repeat;
  background-size: cover;
  height: 7rem;
  width: 7rem;
}
</style>
