<template lang="pug">
.card-body.text-center
  h5#header What's your current activity level?
  form.text-center
    .steps
      .step
        label.btn.btn-circle(:class='isActive("sedentary")')
          input#sedentary(type='radio', value='sedentary', v-model='activityLevel')
      .step
        label.btn.btn-circle(:class='isActive("lightlyActive")')
          input#lightlyActive(type='radio', value='lightlyActive', v-model='activityLevel')
      .step
        label.btn.btn-circle(:class='isActive("moderatelyActive")')
          input#moderatelyActive(type='radio', value='moderatelyActive', v-model='activityLevel')
      .step
        label.btn.btn-circle(:class='isActive("veryActive")')
          input#veryActive(type='radio', value='veryActive', v-model='activityLevel')
      .step
        label.btn.btn-circle(:class='isActive("extraActive")')
          input#extraActive(type='radio', value='extraActive', v-model='activityLevel')
    #description
      h6.text-primary {{ description && description.header }}
      p {{ description && description.text }}
  #next
    .col
      small.text-danger.text-small(v-for='error in errors') {{ error | capitalize }}
    .col
      span(v-on:click='next()').col-7.btn.btn-pill.btn-primary Next
</template>

<script>
const descriptions = {
  sedentary: {
    header: 'Sedentary',
    text: 'Little or no exercise',
  },
  lightlyActive: {
    header: 'Lightly active',
    text: 'Light exercise/ sports 1-3 days /week',
  },
  moderatelyActive: {
    header: 'Moderately active',
    text: 'Moderate exercise/ sports 6-7 days /week',
  },
  veryActive: {
    header: 'Very active',
    text: 'Hard exercise every day, or exercising 2 xs/day',
  },
  extraActive: {
    header: 'Extra active',
    text: 'Hard exercise 2 or more times per day, or training for marathon, or triathlon, etc.',
  },
};

export default {
  props: {
    errors: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      activityLevel: '',
      description: {},
    };
  },
  beforeUpdate: function () {
    this.description = descriptions[this.activityLevel];
    this.$emit('form-change', this.$data);
  },
  methods: {
    isActive(id) {
      return id === this.activityLevel ? 'btn-primary' : 'btn-outline-secondary';
    },
    next() {
      this.$emit('next');
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../../assets/main.scss";

.steps {
  display: table;
  margin: auto;
}

.step {
  display: table-cell;
  margin: 0 1.5rem;
  &:not(:first-child):before {
    background-color: theme-color('secondary');
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 1.5rem;
    z-index: 1000;
  }

  * {
    margin: 0;
  }
}

.btn-circle {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
}

.card {
  padding: 1.8rem 1.2rem;
}

input[type='radio'] {
  display: none;
}

#header {
  margin-top: 3em;
}

form {
  margin-top: 3rem;
}

#description {
  margin-top: 4rem;
  margin-bottom: 3rem;
  height: 3rem;
}

#next {
  margin-bottom: 3rem;
}
</style>
