<template lang="pug">
.card-body.text-center
  h5#header How old are you?
  form.text-center
    .form-group.col-7.mx-auto
      label.form-label.sr-only
      input.form-control(type='date', v-model='dateOfBirth')
  #next
    .col
      small.text-danger.text-small(v-for='error in errors') {{ error | capitalize }}
    .col
      span(v-on:click='next()').col-7.btn.btn-pill.btn-primary Next
</template>

<script>
export default {
  props: {
    errors: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      dateOfBirth: '',
    };
  },
  beforeUpdate: function () {
    this.$emit('form-change', this.$data);
  },
  methods: {
    isActive(id) {
      return id === this.goal ? 'btn-primary' : 'btn-outline-secondary';
    },
    next() {
      this.$emit('next');
    },
  },
};
</script>

<style lang="scss" scoped>
.card {
  padding: 1.8rem 1.2rem;
}

#header {
  margin-top: 3em;
}

form {
  margin-top: 3rem;
}

#next {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
</style>
