<template lang='pug'>
  .row.my-auto
    .col
      .card-body.text-center.justify-content-center
        h1 Almost done!
        p Do you have an Android or IOS device?
        .row
          .col
          .col
            span(v-on:click='next("android")')
              .icon.android.mx-auto(v-on:click='next("android")')
          .col
            span(v-on:click='next("ios")')
              .icon.ios.mx-auto(v-on:click='next("ios")')
          .col
</template>

<script>
export default {
  methods: {
    next(device) {
      this.$emit('form-change', { device });
      this.$emit('next');
    },
  },
};
</script>

<style lang='scss' scoped>
  .row {
    height: 100%;
  }

  .android {
    background: url('../../assets/images/AndroidCircle.png');
  }

  .ios {
    background: url('../../assets/images/AppleCircle.png');
  }

  .icon {
    background-repeat: no-repeat;
    background-size: cover;
    height: 7rem;
    width: 7rem;
  }
</style>
