<template lang="pug">
.card-body
  h2 SIGNUP
  p FILL OUT THIS FORM, AND GET ABEL ON YOUR PHONE
  form.text-center(@submit.prevent='signupOld')
    .form-group
      label.form-label.sr-only First Name
      input.form-control(type='text', v-model='firstName', placeholder='First name')
    .form-group
      label.form-label.sr-only Last Name
      input.form-control(type='text', v-model='lastName', placeholder='Last name')
    .form-group
      label.form-label.sr-only Email
      input.form-control(type='text', v-model='email', placeholder='Email')
    .form-group
      label.form-label.sr-only Password
      input.form-control(type='password', v-model='password', placeholder='Password')
    .form-group
      label.form-label.sr-only Repeat Password
      input.form-control(type='password', v-model='repeatPassword', placeholder='Repeat Password')
    button.btn.btn-pill.btn-primary.mt-5(type='submit') GET THE APP
</template>

<script>
export default {
  props: {
    errors: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      firstName: '',
      lastName: '',
      email: '',
      password: '',
      repeatPassword: '',
    };
  },
  beforeUpdate: function () {
    this.$emit('form-change', this.$data);
  },
  methods: {
    async signup() {
      this.$emit('signupOld', this.data);
    },
  },
};
</script>

<style lang="scss" scoped>
.card {
  padding: 1.8rem 1.2rem;
}
</style>
