<template lang="pug">
.card-body.text-center
  h3 START NOW BY PICKING A GOAL
  p What's your main goal?
  .btn-group-toggle
    label.col-7.btn.btn-pill(:class='isActive("loseWeight")')
      input#loseWeight(type='radio', value='loseWeight', v-model='goal')
      |  Lose Weight
    label.col-7.btn.btn-pill(:class='isActive("increaseStrength")')
      input#increaseStrength(type='radio', value='increaseStrength', v-model='goal')
      |  Increase Strength
    label.col-7.btn.btn-pill(:class='isActive("buildMuscleMass")')
      input#buildMuscleMass(type='radio', value='buildMuscleMass', v-model='goal')
      |  Build Muscle Mass
    label.col-7.btn.btn-pill(:class='isActive("increaseEndurance")')
      input#increaseEndurance(type='radio', value='increaseEndurance', v-model='goal')
      |  Increase Endurance
  #next
    .col
      small.text-danger.text-small(v-for='error in errors') {{ error | capitalize }}
    .col
      span(v-on:click='next()').col-7.btn.btn-pill.btn-primary Next
</template>

<script>
export default {
  props: {
    errors: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      goal: '',
    };
  },
  beforeUpdate: function () {
    this.$emit('form-change', this.$data);
  },
  methods: {
    isActive(id) {
      return id === this.goal ? 'btn-primary' : 'btn-outline-secondary';
    },
    next() {
      this.$emit('next');
    },
  },
};
</script>

<style lang="scss" scoped>
label {
  margin-top: 1.5rem;
}
</style>
