<template lang="pug">
.card-body.text-center
  h5#header How tall are you?
  form.text-center
    .form-group.col-7.mx-auto
      label.form-label.sr-only
      input.form-control(type='number', v-model='height')
    .btn-group
      label.btn.btn-pill(:class='isActive("ft")')
        input#ft(type='radio', value='ft', v-model='heightUnitOfMeasure')
        |  ft
      label.btn.btn-pill(:class='isActive("cm")')
        input#cm(type='radio', value='cm', v-model='heightUnitOfMeasure')
        |  cm
  #next
    .col
      small.text-danger.text-small(v-for='error in errors') {{ error | capitalize }}
    .col
      span(v-on:click='next()').col-7.btn.btn-pill.btn-primary Next
</template>

<script>
export default {
  props: {
    errors: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      height: '',
      heightUnitOfMeasure: '',
    };
  },
  beforeUpdate: function () {
    this.$emit('form-change', this.$data);
  },
  methods: {
    isActive(id) {
      return id === this.heightUnitOfMeasure ? 'btn-primary' : 'btn-outline-secondary';
    },
    next() {
      this.$emit('next');
    },
  },
};
</script>

<style lang="scss" scoped>
.card {
  padding: 1.8rem 1.2rem;
}

input[type='radio'] {
  display: none;
}

#header {
  margin-top: 3em;
}

form {
  margin-top: 3rem;
}

#next {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
</style>
