<template lang='pug'>
//.card-body
.row.my-auto
  .col
    .card-body.text-center
      h3 What's your sex?
      .row.justify-content-center
        .col
        .col
          span(v-on:click='next("male")')
            .icon.male.mx-auto(v-on:click='next("male")')
        .col
          span(v-on:click='next("female")')
            .icon.female.mx-auto(v-on:click='next("female")')
        .col
</template>

<script>
export default {
  methods: {
    next(gender) {
      this.$emit('form-change', { gender });
      this.$emit('next');
    },
  },
};
</script>

<style lang='scss' scoped>
  /*.card {*/
    /*min-height: 60vh;*/
  /*}*/

  .male {
    background: url('../../assets/images/Male.svg');
  }

  .female {
    background: url('../../assets/images/Female.svg');
  }

  .icon {
    background-repeat: no-repeat;
    background-size: cover;
    height: 7rem;
    width: 7rem;
  }
</style>
