<template lang="pug">
.card-body.text-center
  h5#header How much do you weight?
  form.text-center
    .form-group.col-7.mx-auto
      label.form-label.sr-only
      input.form-control(type='number', v-model='weight')
    .btn-group
      label.btn.btn-pill(:class='isActive("lb")')
        input#lb(type='radio', value='lb', v-model='weightUnitOfMeasure')
        |  lb
      label.btn.btn-pill(:class='isActive("kg")')
        input#kg(type='radio', value='kg', v-model='weightUnitOfMeasure')
        |  kg
  #next
    .col
      small.text-danger.text-small(v-for='error in errors') {{ error | capitalize }}
    .col
      span(v-on:click='next()').col-7.btn.btn-pill.btn-primary Next
</template>

<script>
export default {
  props: {
    errors: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      weight: '',
      weightUnitOfMeasure: '',
    };
  },
  beforeUpdate: function () {
    this.$emit('form-change', this.$data);
  },
  methods: {
    isActive(id) {
      return id === this.weightUnitOfMeasure ? 'btn-primary' : 'btn-outline-secondary';
    },
    next() {
      this.$emit('next');
    },
  },
};
</script>

<style lang="scss" scoped>
  .card {
    padding: 1.8rem 1.2rem;
  }

  input[type='radio'] {
    display: none;
  }

  #header {
    margin-top: 3em;
  }

  form {
    margin-top: 3rem;
  }

  #next {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
</style>
