<template lang='pug'>
.h-100
  .row.title
    .col
      h5.font-weight-bold {{ title }}
  .row.justify-content-center.subtitle
    .col-8
      slot(name='subtitle')
        h5.font-weight-normal {{ subtitle }}
  .row.content
    .col
      slot
  .row.error.align-items-end
    .col
      p.text-danger(v-for='error in errors') {{ error | capitalize }}
  .row.confirm
    .col
      slot(name='confirm')
  .row.footer.d-flex.justify-content-center.align-items-center
    .timeline(v-for='(step, idx) of numSteps')
      .step(:class='{ active: idx === activeStep }')

</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: '',
    },
    subtitle: {
      type: String,
      default: '',
    },
    errors: {
      type: Array,
      default: () => [],
    },
    numSteps: {
      type: Number,
      default: 0,
    },
    activeStep: {
      type: Number,
      default: 0,
    },
  },
}
</script>

<style lang='scss' scoped>
@import "../assets/styles/variables";
@import "../node_modules/bootstrap/scss/bootstrap-grid";

.title {
  height: 10%;
}
.subtitle {
  height: 13%;
}

.content {
  height: 37%;
}

.error {
  height: 10%;
  p {
    margin-bottom: 0;
  }
}

.confirm {
  height: 10%;
}

.footer {
  height: 20%;
}

.timeline {
  display: table;
  border-spacing: 0.5rem;

  .step {
    display: table-cell;
    background: theme-color('light');
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;

    &.active {
      background: theme-color('primary');
    }
  }
}
</style>
