<template lang="pug">
.container
  .row.align-items-center.justify-content-center
    .col-6
      .card
        slot
</template>

<script>
export default {

}
</script>

<style lang='scss' scoped>
.row {
  height: 100vh;
}

.card {
  height: 60vh;
}
</style>
