
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,500,500i,700');

@import './styles/variables';

@import "../node_modules/bootstrap/scss/bootstrap";


@font-face {
  font-family: 'Branding';
  font-weight: 200;
  src: url('/assets/fonts/Branding/Thin/Branding-Thin.woff') format('woff');
  src: url('/assets/fonts/Branding/Thin/Branding-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Branding';
  font-weight: normal;
  src: url('/assets/fonts/Branding/Medium/Branding-Medium.woff') format('woff');
  src: url('/assets/fonts/Branding/Medium/Branding-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Branding';
  font-weight: 500;
  src: url('/assets/fonts/Branding/Semibold/Branding-Semibold.woff') format('woff');
  src: url('/assets/fonts/Branding/Semibold/Branding-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'Branding';
  font-weight: bold;
  src: url('/assets/fonts/Branding/Bold/Branding-Bold.woff') format('woff');
  src: url('/assets/fonts/Branding/Bold/Branding-Bold.ttf') format('truetype');
}

body {
  color: theme-color('dark');
  font-family: 'Branding', FallBack, sans-serif;
}

.btn-pill {
  border-radius: 25px;

  .btn-lg {
    border-radius: 30px;
  }
}

.card {
  padding: 1.8rem 1.2rem;
}

#next {
  margin-top: 3rem;
  margin-bottom: 3rem;
}


//@import "../node_modules/bootstrap/scss/functions";
//@import "../node_modules/bootstrap/scss/variables";
//@import "../node_modules/bootstrap/scss/mixins";

//@import "../node_modules/bootstrap/scss/reboot";
//@import "../node_modules/bootstrap/scss/type";
//@import "../node_modules/bootstrap/scss/images";
//@import "../node_modules/bootstrap/scss/code";
//@import "../node_modules/bootstrap/scss/grid";
