<template lang="pug">
  .cover
    nuxt
</template>

<style lang="scss" scoped>
.cover {
  background: url('../assets/images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 40rem;
  height: 100vh;
  overflow: hidden;
  background-position: 75% center;
}
</style>
