<template lang="pug">
.container
  .row
    .col-md-6
      h1 ABEL
      h2 A DIGITAL PERSONAL TRAINER IN YOUR POCKET.
      nuxt-link(to='/signup').btn.btn-pill.btn-lg.btn-primary GET STARTED
</template>

<script>
export default {
  layout: 'cover',
};
</script>

<style lang="scss" scoped>
h1 {
  margin-top: 25vh;
  font-size: 4rem;
  font-weight: 800;
}

h2 {
  margin-top: 5vh;
  font-weight: 400;
}

.btn {
  margin-top: 10vh;
}

</style>

