<template lang="pug">
form-card
  nuxt-child(
    v-on:form-change='formChange',
    v-on:signup='signupOld',
    v-on:next='next',
    v-bind:errors='errors'
  )
</template>

<script>
import extend from 'extend';
import yup from 'yup';
import FormCard from '~/components/form-card.vue';

const pages = [
  {
    path: 'goal',
    schema: yup.object().shape({
      goal: yup.string().required(),
    }),
  },
  {
    path: 'sex',
    schema: yup.object().shape({
      gender: yup.string().required(),
    }),
  },
  {
    path: 'dateOfBirth',
    schema: yup.object().shape({
      dateOfBirth: yup.string().required(),
    }),
  },
  {
    path: 'height',
    schema: yup.object().shape({
      heightUnitOfMeasure: yup.string().required(),
      height: yup.string().required(),
    }),
  },
  {
    path: 'weight',
    schema: yup.object().shape({
      weightUnitOfMeasure: yup.string().required(),
      weight: yup.string().required(),
    }),
  },
  {
    path: 'activityLevel',
    schema: yup.object().shape({
      activityLevel: yup.string().required(),
    }),
  },
  {
    path: 'device',
    schema: yup.object().shape({
      device: yup.string().required(),
    }),
  },
  {
    path: 'accountType',
    schema: yup.object().shape({
      accountType: yup.string().required(),
    }),
  },
  {
    path: 'form',
    schema: yup.object().shape({
      form: yup.string().required(),
    }),
  },
];

export default {
  layout: 'cover',
  components: {
    FormCard,
  },
  data() {
    return {
      form: {},
      errors: [],
    };
  },
  methods: {
    formChange(event) {
      this.form = extend(this.form, event);
      console.log(this.form);
    },

    async next() {
      const currentPath = this.$route.path.match(/[^/]+$/)[0];
      const currentIdx = pages.findIndex(page => page.path === currentPath);

      try {
        console.log(this.form)
        // await pages[currentIdx].schema.validate(this.form);
        this.errors = [];
        this.$router.push(`/signup/${pages[currentIdx + 1].path}`)
      } catch (error) {
        console.log(error)
        this.errors = error.errors;
      }
    },

    async signup() {
      setTimeout(() => {
        console.log(this.form);
        this.$router.push('/thankYou');
      }, 1000);
    },
  },
};
</script>

<style lang="scss" scoped>
/*.row {*/
  /*min-height: 100vh;*/
/*}*/
</style>
