<template lang="pug">
.container.h-100
  span.top-right.d-none.d-md-block(@click='prev()')
    svg.fill-black.arrow-left(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewbox='0 0 24 24')
      path(d='M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z')
  .row.h-100.justify-content-center.align-items-center
    .col-12.col-md-10.col-lg-8.col-xl-6
      .card.text-center
        span.top-right.text-left.d-block.d-md-none(@click='prev()')
          svg.fill-black.arrow-left(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewbox='0 0 24 24')
            path(d='M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z')

        //-
            Goal
        //
        .h-100(v-if='step === findIdx("goal")')
          card-form(
            title='START NOW BY PICKING A GOAL',
            subtitle="What's your main goal?",
            :errors='errors',
            :numSteps='numSteps',
            :activeStep='step'
          )
            label.col-7.btn.btn-outline-secondary.btn-pill(:class='{ active: registration.goal === "loseWeight" }')
              input#loseWeight(type='radio', value='loseWeight', v-model='registration.goal')
              | Lose Weight
            label.col-7.btn.btn-outline-secondary.btn-pill(:class='{ active: registration.goal ===  "increaseStrength" }')
              input#increaseStrength(type='radio', value='increaseStrength', v-model='registration.goal')
              |  Increase Strength
            label.col-7.btn.btn-outline-secondary.btn-pill(:class='{ active: registration.goal ===  "buildMuscleMass" }')
              input#buildMuscleMass(type='radio', value='buildMuscleMass', v-model='registration.goal')
              |  Build Muscle Mass
            label.col-7.btn.btn-outline-secondary.btn-pill(:class='{ active: registration.goal ===  "increaseEndurance" }')
              input#increaseEndurance(type='radio', value='increaseEndurance', v-model='registration.goal')
              |  Increase Endurance
            template(slot='confirm')
              span(v-on:click='next()').col-7.btn.btn-pill.btn-primary Next
        //-
          gender
        //
        .h-100(v-if='step === findIdx("gender")')
          card-form.h-100(
            subtitle="What's your sex?",
            :errors='errors'
            :numSteps='numSteps',
            :activeStep='step'
          )
            .h-100.d-flex.justify-content-center.align-items-center
              .inline
                span#male(v-on:click='setValue("gender", $event)')
                  .icon.male
                span#female(v-on:click='setValue("gender", $event)')
                  .icon.female
        //-
          dateOfBirth
        //
        .h-100(v-if='step === findIdx("dateOfBirth")')
          card-form(
            subtitle="How old are you?",
            :errors='errors'
            :numSteps='numSteps',
            :activeStep='step'
          )
            .h-100.d-flex.justify-content-center.align-items-center
              .col-7.mx-auto
                label.form-label.sr-only
                input.form-control(type='date', v-model='registration.dateOfBirth')
            template(slot='confirm')
              span(v-on:click='next()').col-7.btn.btn-pill.btn-primary Next
        //-
          height
        //
        .h-100(v-if='step === findIdx("height")')
          card-form(
            subtitle="How tall are you?",
            :errors='errors'
            :numSteps='numSteps',
            :activeStep='step'
          )
            .h-100.d-flex.justify-content-center.align-items-center
              .row.justify-content-center
                .col-9
                  label.form-label.sr-only
                  input.form-control(type='number', v-model='registration.height')
                .col-12
                  .btn-group.mt-4
                    label.btn.btn-outline-primary.btn-pill(:class='{ active: registration.heightUnitOfMeasure === "ft" }')
                      input(type='radio', value='ft', v-model='registration.heightUnitOfMeasure')
                      | ft
                    label.btn.btn-outline-primary.btn-pill(:class='{ active: registration.heightUnitOfMeasure === "cm" }')
                      input(type='radio', value='cm', v-model='registration.heightUnitOfMeasure')
                      | cm
            template(slot='confirm')
              span(v-on:click='next()').col-7.btn.btn-pill.btn-primary Next
        //-
          weight
        //
        .h-100(v-if='step === findIdx("weight")')
          card-form(
            subtitle="How much do you weight?",
            :errors='errors',
            :numSteps='numSteps',
            :activeStep='step'
          )
            .h-100.d-flex.justify-content-center.align-items-center
              .row.justify-content-center
                .col-9
                  label.form-label.sr-only
                  input.form-control(type='number', v-model='registration.weight')
                .col-12
                  .btn-group.mt-4
                    label.btn.btn-outline-primary.btn-pill(:class='{ active: registration.weightUnitOfMeasure === "lb" }')
                      input(type='radio', value='lb', v-model='registration.weightUnitOfMeasure')
                      | lb
                    label.btn.btn-outline-primary.btn-pill(:class='{ active: registration.weightUnitOfMeasure === "kg" }')
                      input(type='radio', value='kg', v-model='registration.weightUnitOfMeasure')
                      | kg
            template(slot='confirm')
              span(v-on:click='next()').col-7.btn.btn-pill.btn-primary Next
        //-
          activityLevel
        //
        .h-100(v-if='step === findIdx("activityLevel")')
          card-form(
            subtitle="What's your current activity level?",
            :errors='errors',
            :numSteps='numSteps',
            :activeStep='step'
          )
            .steps
              .step
                label.btn.btn-outline-secondary.btn-circle(:class='{ active: registration.activityLevel === "sedentary" }')
                  input#sedentary(type='radio', value='sedentary', v-model='registration.activityLevel')
              .step
                label.btn.btn-outline-secondary.btn-circle(:class='{ active: registration.activityLevel === "lightlyActive" }')
                  input#lightlyActive(type='radio', value='lightlyActive', v-model='registration.activityLevel')
              .step
                label.btn.btn-outline-secondary.btn-circle(:class='{ active: registration.activityLevel === "moderatelyActive" }')
                  input#moderatelyActive(type='radio', value='moderatelyActive', v-model='registration.activityLevel')
              .step
                label.btn.btn-outline-secondary.btn-circle(:class='{ active: registration.activityLevel === "veryActive" }')
                  input#veryActive(type='radio', value='veryActive', v-model='registration.activityLevel')
              .step
                label.btn.btn-outline-secondary.btn-circle(:class='{ active: registration.activityLevel === "extraActive" }')
                  input#extraActive(type='radio', value='extraActive', v-model='registration.activityLevel')
            .h-100.d-flex.justify-content-center.align-items-end
              .col-10
                h6.text-primary {{ getDescription('activityLevel').header }}
                p {{ getDescription('activityLevel').text }}
            template(slot='confirm')
              span(v-on:click='next()').col-7.btn.btn-pill.btn-primary Next
        //-
          device
        //
        .h-100(v-if='step === findIdx("device")')
          card-form.h-100(
            :errors='errors'
            :numSteps='numSteps',
            :activeStep='step'
          )
            template(slot='subtitle')
              h3.font-weight-bold Almost done!
              p.font-weight-normal Do you have an Android or IOS device?
            .h-100.d-flex.justify-content-center.align-items-center
              .inline
                span#android(v-on:click='setValue("device", $event)')
                  .icon.android
                span#ios(v-on:click='setValue("device", $event)')
                  .icon.ios
        //-
          accountType
        //
        .h-100(v-if='step === findIdx("accountType")')
          card-form.h-100(
            :errors='errors'
            :numSteps='numSteps',
            :activeStep='step'
          )
            template(slot='subtitle')
              h3.font-weight-bold Last step!
              p.font-weight-normal Sign up with Facebook, Google+, or your email.
            .h-100.d-flex.justify-content-center.align-items-center
              .inline
                span#facebook(v-on:click='setValue("accountType", $event)')
                  .icon.facebook
                span#google(v-on:click='setValue("accountType", $event)')
                  .icon.google
                span#email(v-on:click='setValue("accountType", $event)')
                  .icon.email

        //-
          form
        //
        .h-100(v-if='step === findIdx("form")')
          .row.justify-content-center.text-left
            .col-10
              h2 SIGNUP
              p FILL OUT THIS FORM, AND GET ABEL ON YOUR PHONE
          .row.justify-content-center
            .col-10
              form.text-center(@submit.prevent='signup')
                .form-group
                  label.form-label.sr-only First Name
                  input.form-control(type='text', v-model='registration.firstName', placeholder='First name')
                .form-group
                  label.form-label.sr-only Last Name
                  input.form-control(type='text', v-model='registration.lastName', placeholder='Last name')
                .form-group
                  label.form-label.sr-only Email
                  input.form-control(type='text', v-model='registration.email', placeholder='Email')
                .form-group
                  label.form-label.sr-only Password
                  input.form-control(type='password', v-model='registration.password', placeholder='Password')
                .form-group
                  label.form-label.sr-only Repeat Password
                  input.form-control(type='password', v-model='registration.repeatPassword', placeholder='Repeat Password')
                button.col-7.btn.btn-pill.btn-primary.mt-5(type='submit') GET THE APP

</template>

<script>
import CardForm from '~/components/card-form.vue';
import { steps } from './signup';

export default {
  layout: 'cover',
  components: {
    CardForm,
  },
  data() {
    return {
      step: 0,
      numSteps: steps.length - 1,
      registration: {
        goal: '',
        gender: '',
        dateOfBirth: '',
        height: '',
        heightUnitOfMeasure: 'cm',
        weight: '',
        weightUnitOfMeasure: 'kg',
        activityLevel: '',
        device: '',
        accountType: '',
        firstName: '',
        lastName: '',
        email: '',
        password: '',
        repeatPassword: '',
      },
      errors: [],
    };
  },
  async mounted() {
    try {
      const res = await this.$axios.$get('https://geoip-db.com/json/', { timeout: 1000 });
      const imperial = [
        'US',
        'LR',
        'MM',
      ];
      if (imperial.includes(res.country_code)) {
        this.registration.heightUnitOfMeasure = 'ft';
        this.registration.weightUnitOfMeasure = 'lb';
      }
    } catch (error) {
      console.log(error);
    }
  },
  methods: {
    async signup() {
      setTimeout(() => {
        console.log(this.registration);
        this.$router.push('/thankYou');
      }, 1000);
    },
    async next() {
      try {
        console.log(this.registration);
        await steps[this.step].schema.validate(this.registration);
        this.errors = [];
        if (this.step < (steps.length - 1)) {
          this.step += 1;
        }
      } catch (error) {
        console.log(error);
        this.errors = error.errors;
      }
    },
    prev() {
      if (this.step > 0) {
        this.step -= 1;
      } else {
        this.$router.push('/');
      }
    },
    setValue(field, event) {
      this.registration[field] = event.currentTarget.id;
      this.next();
    },
    getDescription(field) {
      const value = this.registration[field];
      return (steps[this.step].descriptions &&
        steps[this.step].descriptions[value]) || {};
    },
    findIdx(name) {
      return steps.findIndex(step => step.name === name);
    },
    isActive(event, value) {
      return value === this.registration.goal ? 'active' : '';
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../assets/styles/variables";
@import "../node_modules/bootstrap/scss/bootstrap-grid";

.card {
  min-height: 35rem;
  height: 75vh;
  padding-top: 20%;
}

.inline {
  display: inline-flex;
}

.male {
  background: url('../assets/images/Male.svg');
}

.female {
  background: url('../assets/images/Female.svg');
}

.android {
  background: url('../assets/images/AndroidCircle.png');
}

.ios {
  background: url('../assets/images/AppleCircle.png');
}

.facebook {
  background: url('../assets/images/FacebookCircle.png');
}

.google {
  background: url('../assets/images/GooglePlus.png');
}

.email {
  background: url('../assets/images/Mail.png');
}

.icon {
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 0.5rem;
  height: 5.5rem;
  width: 5.5rem;

  @include media-breakpoint-up(md) {
    height: 7rem;
    width: 7rem;
  }
}

.arrow-left {
  transform: scale(1.4) rotate(180deg);
  margin-top: 1.5rem;
  margin-left: 1.5rem;

  @include  media-breakpoint-up(sm) {
    transform: scale(1.6) rotate(180deg);
    margin-top: 2rem;
    margin-left: 2rem;
  }

  @include media-breakpoint-up(lg) {
    transform: scale(2.5) rotate(180deg);
    margin-top: 5rem;
    margin-left: 5rem;
  }
}

.fill-black {
  fill: #545454;
}

.top-right {
  position: absolute;
  left: 0;
  top: 0;
}

.btn-outline-secondary {
  &:hover {
    color: theme-color('white');
    background-color: theme-color('primary');
    border-color: theme-color('primary');
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    color: theme-color('white');
    background-color: theme-color('primary');
    border-color: theme-color('primary');
  }
}

input {
  &[type='radio'] {
    display: none;
  }

  &.form-control {
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0;

    &:focus {
      box-shadow: none;
    }
  }
}

.steps {
  display: table;
  margin: 2rem auto auto auto;

  .step {
    display: table-cell;
    margin: 0 1.5rem;
    &:not(:first-child):before {
      background-color: theme-color('secondary');
      content: "";
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 1.5rem;
      z-index: 1000;
    }

    * {
      margin: 0;
    }
  }
}


.btn-circle {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
}
</style>
