<template lang="pug">
.container
  .row.align-items-center.justify-content-center
    .col-md-6
      .card
        .card-body.text-center
          h2 Thank you!
          p Your download should be arriving your email shortly.
</template>

<script>
export default {
  layout: 'cover',
};
</script>

<style lang="scss" scoped>
.row {
  min-height: 100vh;
}
</style>
